// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid $light-gray;
  color: $dark-gray;
  font-family: $sans-serif;
  text-align: left;
  z-index: 1;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
}

// .gear-dropdown .editions {
//   border-bottom: 1px solid $light-gray;
// }
