.sections-nav {
  display: flex;
  justify-content: center;
}

.sections-nav ul {
  display: flex;
  padding: 10px 0;
}

.sections-nav li {
  margin: 0 10px;
  font-family: $sans-serif;
  cursor: pointer;
}
