<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="Utf-8", http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.username %>, Welcome to 99 cats!</h1>
    <p>
      You have successfully signed up to 99 cats.
    </p>
    <p>
      Your username is: <%= @user.username %>
    </p>
      <br/>
    </p>
    <p>
      To login to the site, please follow this link: <%=  @url %>
    </p>
    <p>
      Thank you for joining and you have a great day!
    </p>
  </body>
</html>
